section.title {
    color: #e54242;
    background-color: #eade3a;
    padding: 10px;
    width: 500px;
    margin: 0 auto;
    font-size: 32px;
}

main.mainText {
    border: 5px solid;
    border-color: #a4ea3a;
    padding: 10px;
    margin: 20px;
}

h {
    font-size: 28px;
}

p {
    font-size: 18px;
}

header {
    text-align: center;
}

address {
    text-align: center;
}

footer {
    text-align: center;
    font-size: 32px;
    color: black;
    margin: 10px;   
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}